In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import warnings
import seaborn as sns
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv("data/megaGymDataset.csv")
data.shape

(2918, 9)

In [4]:
data.head()

,S.No.,Title,Desc,Type,BodyPart,Equipment,Level,Rating,RatingDesc
0,0,Partner plank band row,The partner plank band row is an abdominal exe...,Strength,Abdominals,Bands,Intermediate,0.0,NaN
1,1,Banded crunch isometric hold,The banded crunch isometric hold is an exercis...,Strength,Abdominals,Bands,Intermediate,NaN,NaN
2,2,FYR Banded Plank Jack,The banded plank jack is a variation on the pl...,Strength,Abdominals,Bands,Intermediate,NaN,NaN
3,3,Banded crunch,The banded crunch is an exercise targeting the...,Strength,Abdominals,Bands,Intermediate,NaN,NaN
4,4,Crunch,The crunch is a popular core exercise targetin...,Strength,Abdominals,Bands,Intermediate,NaN,NaN

In [5]:
data.tail()

,S.No.,Title,Desc,Type,BodyPart,Equipment,Level,Rating,RatingDesc
2913,2913,EZ-bar skullcrusher-,The EZ-bar skullcrusher is a popular exercise ...,Strength,Triceps,E-Z Curl Bar,Intermediate,8.1,Average
2914,2914,Lying Close-Grip Barbell Triceps Press To Chin,NaN,Strength,Triceps,E-Z Curl Bar,Beginner,8.1,Average
2915,2915,EZ-Bar Skullcrusher - Gethin Variation,The EZ-bar skullcrusher is a popular exercise ...,Strength,Triceps,E-Z Curl Bar,Intermediate,NaN,NaN
2916,2916,TBS Skullcrusher,The EZ-bar skullcrusher is a popular exercise ...,Strength,Triceps,E-Z Curl Bar,Intermediate,NaN,NaN
2917,2917,30 Arms EZ-Bar Skullcrusher,NaN,Strength,Triceps,E-Z Curl Bar,Intermediate,NaN,NaN

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2918 entries, 0 to 2917
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   S.No.       2918 non-null   int64
 1   Title       2918 non-null   object
 2   Desc        1368 non-null   object
 3   Type        2918 non-null   object
 4   BodyPart    2918 non-null   object
 5   Equipment   2886 non-null   object
 6   Level       2918 non-null   object
 7   Rating      1031 non-null   float64
 8   RatingDesc  862 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 205.3+ KB

In [7]:
data.nunique()

S.No.         2918
Title         2909
Desc          1050
Type             7
BodyPart        17
Equipment       12
Level            3
Rating          72
RatingDesc       1
dtype: int64

In [8]:
#Getting number of missing records in each column
data.isnull().sum()

S.No.            0
Title            0
Desc          1550
Type             0
BodyPart         0
Equipment       32
Level            0
Rating        1887
RatingDesc    2056
dtype: int64

In [9]:
data = data.drop(['S.No.','RatingDesc'],axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2918 entries, 0 to 2917
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      2918 non-null   object
 1   Desc       1368 non-null   object
 2   Type       2918 non-null   object
 3   BodyPart   2918 non-null   object
 4   Equipment  2886 non-null   object
 5   Level      2918 non-null   object
 6   Rating     1031 non-null   float64
dtypes: float64(1), object(6)
memory usage: 159.7+ KB

In [ ]:
#remove all the rows containing missing data